@using WebLearning.Contract.Dtos.Quiz;
@model IEnumerable<QuizMonthlyDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <ul class="messages">
        <li>
        @if (Model.Count() == 0)
        {
            <h2>Hiện tại chưa có bài test</h2>
        }
        else
        {
        var count = 0;
        @foreach (var item in Model)
        {
            count++;
            @if (Model !=null)
            {
                @if (item.Active == true)
                {
                    var month = item.DateCreated.Month;
                    var day = item.DateCreated.Day;

                    <span hidden>@item.ID</span>

                    <div class="row" id="@item.ID">
                        <div class="col-md-12">
                            <div class="x_panel" style="height:auto">
                                <div class="x_title">
                                            <h2 class="collapse-link" style="cursor:pointer">Bài kiểm tra định kì số @count</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content" style="display:none">

                                    <div class="message_date">
                                        <h3 class="date text-error">@day</h3>
                                        <p class="month">@month</p>
                                    </div>
                                    <div class="message_wrapper">
                                        <p class="url">
                                            <span class="fs1" aria-hidden="true" data-icon=""></span>
                                            <h4>Tên bài: <strong>@item.Name</strong></h4>

                                            <h4>Thông tin bài kiểm tra: </h4>
                                        </p>
                                        <blockquote class="message">

                                        </blockquote>
                                        <br />
                                        <p class="url">
                                            <span class="fs1" aria-hidden="true" data-icon=""></span>
                                            <a href="/bai-kiem-tra-dinh-ki/{@item.Alias}/{@item.ID}" >Xem chi tiết</a>
                                        </p>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {

                @if (item.Active == true)
                {
                    var month = item.DateCreated.Month;
                    var day = item.DateCreated.Day;
                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel" style="height:auto">
                            <div class="x_title">
                                <h2>Bài test số @count</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                                    </li>
                                    <li>
                                        <a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content" style="display:none">

                                <div class="message_date">
                                    <h3 class="date text-error">@day</h3>
                                    <p class="month">@month</p>
                                </div>
                                <div class="message_wrapper">
                                    <p class="url">
                                        <span class="fs1" aria-hidden="true" data-icon=""></span>
                                        <h4>Tên bài: <strong>@item.Name</strong></h4>

                                        <h4>Thông tin bài kiểm tra: </h4>


                                    <blockquote class="message">
                                    </blockquote>
                                    <br />

                                    <p class="url">
                                        <span class="fs1" aria-hidden="true" data-icon=""></span>
                                        <a asp-action="QuizDetail" asp-controller="UserQuiz" asp-route-id="@item.ID" data-original-title="">Xem chi tiết</a>
                                    </p>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                }

            }
        }
    }
        </li>
    </ul>
</div>

