@model WebLearning.Application.Ultities.PagingBase
@{
    var urlTemplate = Url.Action() + "?PageIndex={0}";
    
    var request = ViewContext.HttpContext.Request;
    foreach (var key in request.Query.Keys)
    {
        if (key == "PageIndex")
        {
            continue;
        }
        if (request.Query[key].Count > 1)
        {
            foreach (var item in (string[])request.Query[key])
            {
                urlTemplate += "&" + key + "=" + item;
            }
        }
        else
        {
            urlTemplate += "&" + key + "=" + request.Query[key];
        }
    }

}

@if (Model.PageCount > 1)
{
    <ul class="pagination" id="paging">
        @if (Model.PageIndex != 1)
        {
            <li class="">
                <a class="" title="1" href="@urlTemplate.Replace("{0}", "1")">Đầu</a>
            </li>
            <li class="">
                <a class="" href="@urlTemplate.Replace("{0}", (Model.PageIndex-1).ToString())">Trước</a>
            </li>
        }
        @for (var i = 1; i <= Model.PageCount; i++)
        {
            if (i == Model.PageIndex)
            {
                <li class=" active">
                    <a class="" href="#">@i <span class="sr-only">(current)</span></a>
                </li>
            }
            else
            {
                <li class=""><a class="" title="Trang @i.ToString()" href="@urlTemplate.Replace("{0}", i.ToString())">@i</a></li>
            }
        }
@*        @for (int i = 1; i <= Model.PageCount; i++)
        {
            @if (i != Model.PageIndex)
            {
                <a href="@urlTemplate.Replace("{0}", i.ToString())">@i</a>
            }
            else
            {
                <span>@i</span>
            }
            if (i == Model.PageIndex)
            {
                <li class=" active">
                    <a class="" href="#">@i <span class="sr-only">(current)</span></a>
                </li>
            }
            else
            {
                <li class=""><a class="" title="Trang @i.ToString()" href="@urlTemplate.Replace("{0}", i.ToString())">@i</a></li>
            }
        }*@
        @if (Model.PageIndex != Model.PageCount)
        {
            <li class="">
                <a class="" title="@Model.PageCount.ToString()" href="@urlTemplate.Replace("{0}", (Model.PageIndex+1).ToString())">Sau</a>
            </li>
            <li class="">
                <a class="" href="@urlTemplate.Replace("{0}", Model.PageCount.ToString())">Cuối</a>
            </li>
        }
    </ul>
}