@using WebLearning.Contract.Dtos.Assets.Category;
@model AssetsCategoryDto
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Thông tin chi tiết  </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                  
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                <div class="col-md-9 col-sm-9 col-xs-12">



                    <div>

                        <h4>Các loại model</h4>

                        <div class="x_panel">
                            <form asp-action="Create" asp-controller="AssetSubCategory" method="post" class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Tên loại:</label>
                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                        <input class="form-control" name="Name" id="Name" type="text" />

                                    </div>
                                </div>
                                @*<div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Tên loại:</label>
                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                        <input class="form-control" name="AssetsCategoryId" id="AssetsCategoryId" type="text" value="@Model.Id">

                                    </div>
                                </div>*@
                                <select id="ddlSelected" style="min-width:200px;" asp-for="@Model.Id" style="min-width: 200px;" asp-items="@ViewBag.Category">
                                    <option value="" disabled selected>Chọn danh mục</option>
                                </select>
                                <div class="form-group">
                                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">

                                        <button type="submit" class="btn btn-sucess"><i class="fa fa-edit"></i> Lưu</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- end of user messages -->
                        <ul class="messages">
                            @if(Model.AssetsSubCategoryDtos != null && Model.AssetsSubCategoryDtos.Count > 0)
                            {
                                @foreach (var item in Model.AssetsSubCategoryDtos)
                                {
                                    
                                    <li>
                                        @*                                    <div class="message_date">
                                <h3 class="date text-info">24</h3>
                                <p class="month">May</p>
                                </div>*@
                                        <div class="message_wrapper">
                                            <h4 class="heading">Mã: @item.SubCode</h4>
                                            <blockquote class="message">Tên: @item.Name</blockquote>

                                            <br />
                                            @{

                                                string urlEditA = $"/cap-nhat-model/{item.Id}";
                                                string urlDeleteA = $"/xoa-model/{item.Id}";

                                            }

                                            <a href="@urlEditA" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i> Cập nhật</a>
                                            <a href="@urlDeleteA" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Xóa</a>
                                        </div>
                                    </li>
                                }
                            }
                            else
                            {
                                <li>
                                    <h4>Chưa có loại model</h4>
                                </li>
                                
                            }
                        </ul>
                        <!-- end of user messages -->


                    </div>


                </div>

                <!-- start project-detail sidebar -->
                <div class="col-md-3 col-sm-3 col-xs-12">

                    <section class="panel">

                        <div class="x_title">
                            <h2>Mô tả</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <h3 class="green">Tên: @Model.Name</h3>
                            <p>Mã: @Model.CatCode</p>
                            <br />


                            <br />
                            @{
                                string urlBack = $"/loai-tai-san.html";

                                string urlEdit = $"/cap-nhat-loai-tai-san/{Model.Id}";
                                string urlDelete = $"/xoa-loai-tai-san/{Model.Id}";

                            }
                            <div class="text-center mtop20">
                                <a href="@urlBack" class="btn btn-info btn-xs"><i class="fa fa-mail-reply"></i> Quay lại</a>

                                <a href="@urlEdit" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i> Cập nhật</a>
                                <a href="@urlDelete" class="btn btn-danger btn-xs"><i class="fa fa-trash-o" id="deleteCat"></i> Xóa</a>
                            </div>
                        </div>

                    </section>

                </div>
                <!-- end project-detail sidebar -->

            </div>
        </div>
    </div>
</div>
@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#ddlSelected').select2();
        });
    </script>
}