@using WebLearning.Contract.Dtos.Assets;
@model AssetsDto
<style>
    .dataTables_length, .dataTables_filter {
        display: none;
    }

    .required{
        color:red;
        font-weight:bold;
        font-size:14px;
    }
</style>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 detailContainer">
        <div class="x_panel">   
            <div class="x_title">
                <h2><a href="/tai-san.html"><i class="fa fa-home"></i> Trang chủ</a> | Thông tin chi tiết</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="buttoncontainer" style="display:flex">
                    <div class="updatecontent">
                        <button class="btn btn-warning btn-xs" style="font-size:14px" id="updatebutton"><i class="fa fa-edit"></i> Cập nhật</button>

                    </div>
                    <div>
                        <button class="btn btn-danger btn-xs" style="font-size:14px" id="deletebutton"><i class="fa fa-trash"></i> Xóa</button>

                    </div>
                    <div>
                        <button class="btn btn-primary btn-xs" style="font-size:14px" id="seemovedetailbutton"><i class="fa fa-history"></i> Lịch sử điều chuyển</button>

                    </div>
                </div>


                @{
                    var days = 0;
                    if (Model.DateExpired != null)
                    {
                        days = Math.Abs((DateTime.Now - Model.DateExpired.Value).Days);
                    }
                     
                }
                <table id="datatable" class="table table-striped table-bordered">
                    <thead >
                        <tr>
                            <th>Mã tài sản</th>
                            <th>Tên tài sản</th>
                            <th>Mã IT</th>
                            <th>Loại</th>
                            <th>Model</th>
                            <th>Thông số</th>
                            <th>Số seri</th>
                            <th>Số lượng</th>
                            <th>Hoạt động</th>
                            <th>Đơn vị sử dụng</th>
                            <th>Người sử dụng</th>
                            <th>Đơn vị quản lý</th>
                            <th>Tình trạng</th>
                            <th>Thời hạn bảo hành</th>
                            <th>Ngày hết bảo hành</th>
                            <th>Ngày điều chuyển</th>
                            <th>Ngày đưa vào sử dụng</th>
                            <th>Ngày kiểm kê</th>
                            <th>Nhà cung cấp</th>
                            <th>Ngày mua</th>
                            <th>Ngày sửa chữa</th>
                            <th>Nơi sữa chữa</th>
                            <th>Mã hóa đơn</th>
                            <th>Giá tiền</th>
                            <th>Ngày tạo</th>

                            <th>Ghi chú</th>
                        </tr>

                    </thead>

                    <tbody>
                        
                        <tr>
                            <td>@Model.AssetId</td>
                            <td>@Model.AssetName</td>
                            <td>@Model.Id</td>

                            <td>@Model.AssetsCategoryDto.Name</td>
                            <td>@Model.AssetSubCategory</td>
                            <td>@Model.Spec</td>
                            <td>@Model.SeriNumber</td>
                            <td>@Model.Quantity</td>
                            <td>
                                @if(Model.Active == true)
                                {
                                    <span class="label label-success">Active</span>
                                }
                                else
                                {
                                    <span class="label label-danger">Disable</span>

                                }
                            </td>
                            <td>@Model.AssetsDepartmentDto.Name</td>
                            <td>@Model.Customer</td>
                            <td>@Model.Manager</td>
                            <td>@Model.AssetsStatusDto.Name</td>
                            <td>@Model.ExpireDay tháng <code>còn lại @days ngày</code></td>
                            <td>@Model.DateExpired </td>
                            <td>@Model.DateMoved</td>
                            <td>@Model.DateUsed</td>
                            <td>@Model.DateChecked</td>
                            <td>@Model.Supplier</td>
                            <td>@Model.DateBuyed</td>
                            <td>@Model.DateRepaired</td>
                            <td>@Model.RepairLocation</td>
                            <td>@Model.OrderNumber</td>
                            @if(Model.Price != "")
                            {
                                <td>@string.Format("{0:#,##0}", Convert.ToDecimal(Model.Price)) VNĐ</td>
                            }

                            else
                            {
                                <td>@Model.Price</td>
                            }
                            <td>@Model.DateCreated</td>
                            <td>@Model.Note</td>
                        </tr>
                    </tbody>
                </table>
             </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 updateContainer" style="display:none" id="updateForm">
        <div class="x_panel">
            <div class="x_title">
                <h2>Cập nhật tài sản</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form asp-action="Update" asp-controller="Asset" method="post" class="form-horizontal">
                    <div class="x_panel">
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Mã Tài sản:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" value="@Model.AssetId" asp-for="@Model.AssetId" readonly />

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Mã IT:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" name="id" value="@Model.Id" asp-for="@Model.Id" readonly />

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Tên Tài sản:  <span class="required">*</span></label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" value="@Model.AssetName" required="required" asp-for="@Model.AssetName" />

                                </div>
                                @if (TempData["AssetName"] != null)
                                {
                                    <span class="text-danger">@TempData["ErrorAssetName"]</span>

                                }
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Hoạt động:</label>

                                <div class="col-md-8 col-sm-8 col-xs-12">

                                    <label class="statusconatiner">
                                        @if(Model.Active == true)
                                        {
                                            
                                                <input type="checkbox" id="active" class="js-switch" checked asp-for="@Model.Active" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="active" class="js-switch" asp-for="@Model.Active" />


                                        }
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Loại Tài sản: <span class="required">*</span></label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <select class="selectpicker" data-live-search="true" data-show-subtext="true" data-live-search-style="begins" id="AssetsCategoryId" asp-for="@Model.AssetsCategoryId" asp-items="ViewBag.Cat">
                                    </select>
                                </div>


                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12"></label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @if (TempData["ErrorCat"] != null)
                                    {
                                        <span class="text-danger">@TempData["ErrorCat"]</span>

                                    }
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Model Tài sản: <span class="required">*</span></label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" value="@Model.AssetSubCategory" required asp-for="@Model.AssetSubCategory" />

                                </div>

                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12"></label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @if (TempData["ErrorSubCat"] != null)
                                    {
                                        <span class="text-danger">@TempData["ErrorSubCat"]</span>

                                    }
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Thông số:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" value="@Model.Spec" asp-for="@Model.Spec" />

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Số seri:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" value="@Model.SeriNumber" asp-for="@Model.SeriNumber" />

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Số lượng: <span class="required">*</span></label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="number" min="1" required="required" value="@Model.Quantity" asp-for="@Model.Quantity" />

                                </div>

                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Nhà cung cấp:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" value="@Model.Supplier" asp-for="@Model.Supplier" />

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Ngày mua:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="input-group date" id="dateBuyed">
                                        <input type="text" class="form-control col-md-10" value="@Model.DateBuyed" asp-for="@Model.DateBuyed" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Mã hóa đơn</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" value="@Model.OrderNumber" asp-for="@Model.OrderNumber" />

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Giá tiền</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" value="@Model.Price" asp-for="@Model.Price" />

                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">
                                    Đơn vị sử dụng: <span class="required">*</span>
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <select class="selectpicker" data-live-search="true" data-show-subtext="true" data-live-search-style="begins" asp-for="@Model.AssetsDepartmentId" asp-items="ViewBag.Dep">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12"></label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @if (TempData["ErrorDep"] != null)
                                    {
                                        <span class="text-danger">@TempData["ErrorDep"]</span>

                                    }
                                </div>

                            </div>
                            <div class="form-group">
                                
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Người sử dụng:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" value="@Model.Customer" asp-for="@Model.Customer" />

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">
                                    Đơn vị quản lí: <span class="required">*</span>
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" required="required" value="@Model.Manager" asp-for="@Model.Manager" />

                                </div>

                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">
                                    Tình trạng: <span class="required">*</span>
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <select class="selectpicker" data-live-search="true" data-show-subtext="true" data-live-search-style="begins" value="@Model.AssetsStatusId" asp-for="@Model.AssetsStatusId" asp-items="ViewBag.Status">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12"></label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @if (TempData["ErrorStatus"] != null)
                                    {
                                        <span class="text-danger">@TempData["ErrorStatus"]</span>

                                    }
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Thời hạn bảo hành:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" value="@Model.ExpireDay" asp-for="@Model.ExpireDay" />
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Ngày hết bảo hành</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" value="@Model.DateExpired" asp-for="@Model.DateExpired" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Ngày đưa vào sử dụng:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="input-group date" id="dateUsed">
                                        <input type="text" class="form-control col-md-10" value="@Model.DateUsed" asp-for="@Model.DateUsed" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>

                                </div>

                                
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Ngày điều chuyển:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="input-group date" id="dateMoved">
                                        <input type="text" class="form-control col-md-10" value="@Model.DateMoved" asp-for="@Model.DateMoved" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>

                                </div>


                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Ngày kiểm kê: <span class="required">*</span></label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="input-group date" id="dateChecked">
                                        <input type="text" class="form-control col-md-10" required value="@Model.DateChecked" asp-for="@Model.DateChecked" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>

                                </div>


                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Ngày sửa chữa:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="input-group date" id="dateRepaired">
                                        <input type="text" class="form-control col-md-10" value="@Model.DateRepaired" asp-for="@Model.DateRepaired" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">

                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Nơi sửa chữa:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" value="@Model.RepairLocation" asp-for="@Model.RepairLocation" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Ngày tạo</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" value="@Model.DateCreated" asp-for="@Model.DateCreated" readonly />

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Ghi chú</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" value="@Model.Note" asp-for="@Model.Note" />

                                </div>
                            </div>
                        </div>
                       

                        <div class="form-group">
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">

                                <button type="submit" class="btn btn-warning"><i class="fa fa-edit"></i> Xác nhận thay đổi</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 deleteContainer" style="display:none" id="deleteForm">
        <div class="x_panel">
            <div class="x_title">
                <h2>Xóa tài sản</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form asp-action="Delete" asp-controller="Asset" method="post" class="form-horizontal">
                    <div class="x_panel">
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Mã Tài sản:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" value="@Model.AssetId" asp-for="@Model.AssetId" readonly />

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Mã IT:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" name="id" value="@Model.Id" asp-for="@Model.Id" readonly />

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Tên Tài sản:  <span class="required">*</span></label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" value="@Model.AssetName" required="required" asp-for="@Model.AssetName" />

                                </div>
                                @if (TempData["AssetName"] != null)
                                {
                                    <span class="text-danger">@TempData["ErrorAssetName"]</span>

                                }
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Hoạt động:</label>

                                <div class="col-md-8 col-sm-8 col-xs-12">

                                    <label class="statusconatiner">
                                        @if (Model.Active == true)
                                        {

                                            <input type="checkbox" id="active" class="js-switch" checked asp-for="@Model.Active" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="active" class="js-switch" asp-for="@Model.Active" />


                                        }
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Loại Tài sản: <span class="required">*</span></label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <select class="selectpicker" data-live-search="true" data-show-subtext="true" data-live-search-style="begins" id="AssetsCategoryId" asp-for="@Model.AssetsCategoryId" asp-items="ViewBag.Cat">
                                    </select>
                                </div>


                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12"></label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @if (TempData["ErrorCat"] != null)
                                    {
                                        <span class="text-danger">@TempData["ErrorCat"]</span>

                                    }
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Model Tài sản: <span class="required">*</span></label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" value="@Model.AssetSubCategory" required asp-for="@Model.AssetSubCategory" />

                                </div>

                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12"></label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @if (TempData["ErrorSubCat"] != null)
                                    {
                                        <span class="text-danger">@TempData["ErrorSubCat"]</span>

                                    }
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Thông số:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" value="@Model.Spec" asp-for="@Model.Spec" />

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Số seri:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" value="@Model.SeriNumber" asp-for="@Model.SeriNumber" />

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Số lượng: <span class="required">*</span></label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="number" min="1" required="required" value="@Model.Quantity" asp-for="@Model.Quantity" />

                                </div>

                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Nhà cung cấp:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" value="@Model.Supplier" asp-for="@Model.Supplier" />

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Ngày mua:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="input-group date" id="dateBuyed">
                                        <input type="text" class="form-control col-md-10" value="@Model.DateBuyed" asp-for="@Model.DateBuyed" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Mã hóa đơn</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" value="@Model.OrderNumber" asp-for="@Model.OrderNumber" />

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Giá tiền</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" value="@Model.Price" asp-for="@Model.Price" />

                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">
                                    Đơn vị sử dụng: <span class="required">*</span>
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <select class="selectpicker" data-live-search="true" data-show-subtext="true" data-live-search-style="begins" asp-for="@Model.AssetsDepartmentId" asp-items="ViewBag.Dep">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12"></label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @if (TempData["ErrorDep"] != null)
                                    {
                                        <span class="text-danger">@TempData["ErrorDep"]</span>

                                    }
                                </div>

                            </div>
                            <div class="form-group">

                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Người sử dụng:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" value="@Model.Customer" asp-for="@Model.Customer" />

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">
                                    Đơn vị quản lí: <span class="required">*</span>
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" required="required" value="@Model.Manager" asp-for="@Model.Manager" />

                                </div>

                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">
                                    Tình trạng: <span class="required">*</span>
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <select class="selectpicker" data-live-search="true" data-show-subtext="true" data-live-search-style="begins" value="@Model.AssetsStatusId" asp-for="@Model.AssetsStatusId" asp-items="ViewBag.Status">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12"></label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @if (TempData["ErrorStatus"] != null)
                                    {
                                        <span class="text-danger">@TempData["ErrorStatus"]</span>

                                    }
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Thời hạn bảo hành:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" value="@Model.ExpireDay" asp-for="@Model.ExpireDay" />
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Ngày hết bảo hành</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" value="@Model.DateExpired" asp-for="@Model.DateExpired" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Ngày đưa vào sử dụng:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="input-group date" id="dateUsed">
                                        <input type="text" class="form-control col-md-10" value="@Model.DateUsed" asp-for="@Model.DateUsed" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>

                                </div>


                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Ngày điều chuyển:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="input-group date" id="dateMoved">
                                        <input type="text" class="form-control col-md-10" value="@Model.DateMoved" asp-for="@Model.DateMoved" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>

                                </div>


                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Ngày kiểm kê: <span class="required">*</span></label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="input-group date" id="dateChecked">
                                        <input type="text" class="form-control col-md-10" required value="@Model.DateChecked" asp-for="@Model.DateChecked" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>

                                </div>


                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Ngày sửa chữa:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="input-group date" id="dateRepaired">
                                        <input type="text" class="form-control col-md-10" value="@Model.DateRepaired" asp-for="@Model.DateRepaired" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">

                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Nơi sửa chữa:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" value="@Model.RepairLocation" asp-for="@Model.RepairLocation" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Ngày tạo</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" value="@Model.DateCreated" asp-for="@Model.DateCreated" readonly />

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Ghi chú</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" value="@Model.Note" asp-for="@Model.Note" />

                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">

                                <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Xác nhận xóa</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 moveassetContainer" style="display:none">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-paper-plane-o"></i> Điều chuyển <small>thông tin chi tiết</small></h2>                     

                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    

                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @if (Model.AssetsMovedsDto != null && Model.AssetsMovedsDto.Count > 0 ){
                    <div class="col-xs-5">
                        <button type="button" id="updatemoveasset" class="btn btn-md  btn-warning"> Sửa</button>
                        <!-- required for floating -->
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tabs-left">

                            @foreach (var item in Model.AssetsMovedsDto.OrderByDescending(x => x.DateMoved))
                            {
                                <li>
                                    <a href="#@item.Id" data-toggle="tab">@item.DateMoved</a>
                                </li>
                            }

                        </ul>
                    </div>

                    <div class="col-xs-7">

                        <!-- Tab panes -->
                        <form asp-action="Edit" asp-controller="AssetMoved" method="post">

                            <div class="tab-content">
                                <div class="tab-pane active">
                                    @*                            <p class="lead">Home tab</p>
                                *@
                                    <p>
                                        Click từng mục bên trái để xem nội dung
                                    </p>
                                </div>

                                @foreach (var item in Model.AssetsMovedsDto.OrderByDescending(x => x.DateMoved))
                                {
                                    <div class="tab-pane" id="@item.Id">
                                        <div class="form-group" hidden>
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Id: <span class="required">*</span></label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input class="form-control" type="text" aso-for="@item.Id" value="@item.Id" name="IdTemp" readonly="readonly" />
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Mã tài sản: <span class="required">*</span></label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input class="form-control" type="text" asp-for="@item.AssetsId" value="@item.AssetsId" name="AssetId" readonly="readonly" required />
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Tên người nhận: <span class="required">*</span></label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input class="form-control" type="text" asp-for="@item.Receiver" value="@item.Receiver" name="Receiver" readonly="readonly" required />
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">SĐT người nhận: <span class="required">*</span></label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input class="form-control" type="text" asp-for="@item.ReceiverPhoneNumber" value="@item.ReceiverPhoneNumber" required name="ReceiverPhoneNumber" readonly="readonly" />
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">SĐT người chuyển: <span class="required">*</span></label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input class="form-control" type="text" asp-for="@item.SenderPhoneNumber" value="@item.SenderPhoneNumber" required name="SenderPhoneNumber" readonly="readonly" />
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Đơn vị sử dụng: <span class="required">*</span></label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <select required id="AssetsDepartmentId" name="AssetsDepartmentId" asp-for="@item.AssetsDepartmentId" asp-items="ViewBag.Dep" class="selectpicker form-control" data-live-search="true" data-show-subtext="true" data-live-search-style="begins">
                                                </select>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Nội dung: <span class="required">*</span></label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input class="form-control" type="text" asp-for="@item.Description" value="@item.Description" required name="Description" readonly="readonly" />
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Ngày dùng: </label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <div class="input-group date" id="assetMoveDateUsed">
                                                    <input type="text" class="form-control col-md-10" asp-for="@item.DateUsed" value="@item.DateUsed" name="DateUsed" readonly="readonly" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>

                                            </div>


                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Ngày chuyển: <span class="required">*</span></label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <div class="input-group date" id="dateChecked">
                                                    <input type="text" class="form-control col-md-10" asp-for="@item.DateMoved" value="@item.DateMoved" name="DateMoved" readonly="readonly" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>

                                            </div>


                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Trạng thái: </label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                @if (item.MovedStatus == 1)
                                                {
                                                    <label class="label label-success" style="font-size:12px">@item.AssetsMovedStatusDto.Name</label>
                                                }
                                            </div>

                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="submit" disabled="disabled" id="savechangmoveitem" name="savechangmoveitem" class="btn btn-md btn-success" value="Lưu" />
                                                @*                                            <a class="btn btn-md btn-danger" href="/chi-tiet-tai-san/{@item.AssetsId}/xoa-dieu-chuyen/{@item.Id}">Xóa</a>
                                        *@
                                            </div>
                                        </div>

                                    </div>

                                }

                            </div>

                        </form>

                    </div>
                }else
                {
                    <h4>Tài sản chưa được điều chuyển</h4>
                }


                <div class="clearfix"></div>

            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script src="~/src/js/assetdetail.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        $(function () {

            $("#updatemoveasset").on("click", function () {
                if (this.innerText == "Cập nhật") {
                    this.innerText = "Hủy thao tác";
                    $("[name=Receiver]").removeAttr("readonly");
                    $("[name=ReceiverPhoneNumber]").removeAttr("readonly");
                    $("[name=SenderPhoneNumber]").removeAttr("readonly");
                    $("[name=Description]").removeAttr("readonly");
                    $("[name=DateUsed]").removeAttr("readonly");
                    $("#AssetsDepartmentId").attr("disabled", false);
                    $("[name=savechangmoveitem]").attr("disabled", false);

                }
                else {
                    this.innerText = "Cập nhật";
                    $("[name=Receiver]").attr("readonly", "readonly");
                    $("[name=Receiver]").attr("readonly", "readonly");
                    $("[name=ReceiverPhoneNumber]").attr("readonly", "readonly");
                    $("[name=SenderPhoneNumber]").attr("readonly", "readonly");
                    $("[name=Description]").attr("readonly", "readonly");
                    $("[name=DateUsed]").attr("readonly", "readonly");
                    $("#AssetsDepartmentId").attr("disabled", true);
                    $("[name=savechangmoveitem]").attr("disabled", true);


                }
            });
        });
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
}