@using WebLearning.Application.Ultities
@using WebLearning.Contract.Dtos.Assets;
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model PagedViewModel<AssetsDto>

<style>
    #catList, #subList, #depList, #subList {
        display: table;
        clear: both;
        width:100%;
        table-layout: fixed;
    }

    #datatable .nameasset:hover {
        color: #bf040a;
        font-size:13px;
        font-weight:bold;
    }

    input[type=file] {
        width: 100%;
        max-width: 100%;
        color: #444;
        background: #fff;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: 0.25px solid #555;
    }
    input[type=file]::file-selector-button {
        border: none;
        background: #bf040a;
        color: #fff;
        padding:5px;
        cursor: pointer;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        transition: background .2s ease-in-out;
    }

    input[type=file]::file-selector-button:hover {
                background: #790001;
    }

    #formGetData >.btn-group{
        margin-left:5px;
    }

    .btn-group {
        margin-bottom:3px;
        
    }
    .dropdown-menu{
        padding:5px;
    }
</style>
@{
    int i = 0;

}

<div class="row" id="assetContainer">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><a href="/quan-li-tai-san.html"><i class="fa fa-home"></i> Trang chủ </a>| Tài sản<small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="assetList">
                @{
                    var row = Model.Items.Count() + 1;
                }
                    <strong style="color:red">Có @Model.Items.Count()/@Model.TotalItems kết quả</strong><br/>
                    <strong style="color:red">Tổng Số lượng: @Model.TotalQuantity</strong>

                    <div class="table-responsive" style="height:550px;overflow-y:auto">
                        <table class="table table-striped table-bordered bulk_action" id="tabel">
                            <thead @*style="position:sticky;top:-1px;background-color:#ededed;"*@>
                                <tr>
                                    <th>
                                        <input type="checkbox" id="check-all" name="checkAllBoxTable" class="checkAllBoxTable" onclick='checkUncheck(this)' />
                                    </th>
                                    <form asp-action="Index" method="get" id="formGetData" class="btn-group">
                                        <th>
                                            <div class="btn-group">
                                            <label>Hiển thị</label>
                                                <select asp-for="@Model.PageSize" onchange="this.form.submit()">

                                                    <option value="10" selected>10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select>
                                            </div>
                                        </th>
                                        <th colspan="6" id="">
                                            <div class="input-group top-search">
                                                <input type="text" class="form-control" placeholder="Từ khóa..." name="keyword" value="@TempData["Keyword"]">

                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="submit">Tìm kiếm!</button>
                                                    <a id="removeCheckedBox" class="btn btn-danger" href="/tai-san.html">Reset</a>

                                                </span>
                                               
                                            </div>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-xs btn-primary"><i class="fa fa-database"></i> Loại</button>
                                                <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="col-md-12 col-sm-12 col-xs-12 dropdown-menu" id="checkboxcatfilter" role="menu" style="min-width:430px" >
                                                <input type="checkbox" name="assetsCategoryCheckAll" id="assetsCategoryCheckAll" data-mahh="CCA" data-tencb="CCA">
                                                <span style="font-weight:bold">Chọn/Bỏ chọn</span>

                                                        @foreach (var cat in Model.CheckBox.AssetsCategoryDtos)
                                                        {
                                                            i = i + 1;
                                                            <li style="float:left;max-width:50%;inline-size: 50%;overflow-wrap: break-word;margin:auto;display:flex;font-size:13px">


                                                                <input type="checkbox" name="assetsCategoryId" class="checkBoxFilter" value="@cat.Id" data-tencb="@cat.Name" data-mahh="@i" id="catCheckBox_@cat.Id">
                                                                <div style="margin-left:5px">@i. @cat.Name</div>

                                                            </li>
                                                        }
                                                </ul>
                                            </div>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-xs btn-primary"><i class="fa fa-map-marker"></i> Vị trí</button>
                                                <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                            <ul class="dropdown-menu col-md-12 col-sm-12 col-xs-12" role="menu" style="min-width:430px" id="checkboxdeplocationfilter">
                                                <input type="checkbox" name="assetsDepLocationCheckAll" id="assetsDepLocationCheckAll" data-mahh="DLCA" data-tencb="DLCA">
                                                <span style="font-weight:bold">Chọn/Bỏ chọn</span>


                                                        @foreach (var dep in Model.CheckBox.AssetsDepartmentLocationDtos)
                                                        {
                                                            i = i + 1;
                                                        <li style="float:left;max-width:50%;inline-size: 50%;overflow-wrap: break-word;margin:auto;display:flex;font-size:14.5px">


                                                        <input type="checkbox" name="assetsDepartmentLocationId" class="checkBoxFilter" value="@dep.ParentCode" data-tencb="@dep.Name" data-mahh="@dep.ParentCode" id="depCheckBox_@dep.Id">
                                                            <div style="margin-left:5px">@i. @dep.Name</div>

                                                        </li>
                                                        }

                                                </ul>
                                            </div>

                                            <div class="btn-group">
                                                <button type="button" class="btn btn-xs btn-primary"><i class="fa fa-building"></i> Đơn vị </button>
                                                <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                            <ul class="dropdown-menu col-md-12 col-sm-12 col-xs-12" role="menu" style="min-width:430px" id="checkboxdepfilter">
                                                <input type="checkbox" name="assetsDepCheckAll" id="assetsDepCheckAll" data-mahh="DCA" data-tencb="DCA" autocomplete="off">

                                                <span style="font-weight:bold">Chọn/Bỏ chọn</span>
                                                        @foreach (var dep in Model.CheckBox.AssetsDepartmentDtos.Where(x => x.Level == "2"))
                                                        {
                                                            i = i + 1;
                                                    <li style="float:left;max-width:50%;inline-size: 50%;overflow-wrap: break-word;margin:auto;display:flex;font-size:14.5px">


                                                        <input type="checkbox" name="assetsDepartmentId" class="checkBoxFilter" value="@dep.Id" data-tencb="@dep.Name" data-mahh="@i" id="depCheckBox_@dep.Id">
                                                        <div style="margin-left:5px">@i. @dep.Name</div>

                                                    </li>
                                                        }
                                                       

                                                        

                                                </ul>
                                            </div>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-xs btn-primary"><i class="fa fa-gears"></i> Tình trạng</button>
                                                <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                            <ul class="dropdown-menu col-md-12 col-sm-12 col-xs-12" role="menu" style="min-width:430px" id="checkboxstatusfilter">
                                                <input type="checkbox" name="assetsStatusCheckAll" id="assetsStatusCheckAll" data-mahh="STTCA" data-tencb="STTCA">
                                                <span style="font-weight:bold">Chọn/Bỏ chọn</span>


                                                        @foreach (var stt in Model.CheckBox.AssetsStatusDtos)
                                                        {
                                                            i = i + 1;
                                                        <li style="float:left;max-width:50%;inline-size: 50%;overflow-wrap: break-word;margin:auto;display:flex;font-size:14.5px">

                                                        <input type="checkbox" name="assetsStatusId" class="checkBoxFilter" value="@stt.Id" data-tencb="@stt.Name" data-mahh="ST_@i" id="sttCheckBox_@stt.Id">
                                                            <div style="margin-left:5px;">@i. @stt.Name</div>

                                                        </li>
                                                        }

                                                </ul>
                                            </div>
                                            <div class="btn-group">
                                            <button type="button" class="btn btn-xs btn-primary"><i class="fa fa-flag"></i> Hoạt động</button>
                                            <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li style="float:left;max-width:50%;inline-size: 50%;overflow-wrap: break-word;margin:auto;display:flex;font-size:14.5px">
                                                    <input type="checkbox" class="checkBoxFilter" data-mahh="Không" data-tencb="Không" value="true" name="active" />
                                                    <div style="margin-left:5px">Không</div>
                                                </li>
                                            </ul>
                                            </div>


                                        </th>
                                    </form>
                                    <th colspan="7" align="center">
                                        <div class="btn-group">
                                            <a href="/tao-moi-tai-san.html" class="btn btn-xs btn-success"><i class="fa fa-plus"></i> Thêm mới</a>

                                        </div>
                                        <div class="btn-group" onclick="loadDataMoveAll()">
                                            <button data-toggle="modal" data-target=".moveallbs-example-modal-lg" class="btn btn-xs btn-success" ><i class="fa fa-paper-plane-o"></i> Điều chuyển</button>

                                        </div>
                                        <div class="btn-group" onclick='deleteAllData()'>
                                            <button data-toggle="modal" data-target=".deleteallbs-example-modal-lg" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i> Xóa tất cả</button>

                                        </div>
                                        <div class="btn-group" onclick='updateRepairItem()'>
                                            <button data-toggle="modal" data-target=".updateRepairbs-example-modal-lg" class="btn btn-xs btn-warning"><i class="fa fa-trash"></i> Sửa chữa</button>

                                        </div>
                                        <div class="modal fade moveallbs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                                            <form asp-action="MoveAsset" asp-controller="AssetMoved" method="post" enctype="multipart/form-data" id="formMoveAll">

                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">

                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                            <h4 class="modal-title" id="myModalLabel">Điều chuyển tài sản</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>
                                                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Mã IT: <span class="required">*</span></label>
                                                                <div class="input-group">
                                                                    <input class="form-control col-md-10" type="text" required name="table_records" id="moveId"
                                                                           placeholder="Vui lòng chọn tài sản bằng cách click vào ô checkbox đầu bảng" />
                                                                    <span class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-list-alt"></span>
                                                                    </span>
                                                                </div>
           

                                                            </p>
                                                            <p>
                                                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Người nhận: <span class="required">*</span></label>

                                                                <div class="input-group">
                                                                    @if (TempData["Receiver"] != null)
                                                                    {
                                                                        <input class="form-control col-md-10" type="text"  name="Receiver" value="@TempData["Receiver"]" />

                                                                    }
                                                                    else
                                                                    {
                                                                        <input class="form-control col-md-10" type="text"  name="Receiver" placeholder="Nhập thông tin người nhận..." />

                                                                    }
                                                                    <span class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-user"></span>
                                                                    </span>
                                                                </div>


                                                            </p>
                                                            <p>
                                                                <label class="control-label col-md-4 col-sm-4 col-xs-12">SĐT người nhận: <span class="required">*</span></label>
                                                                <div class="input-group">
                                                                    @if (TempData["ReceiverPhoneNumber"] != null)
                                                                    {
                                                                        <input class="form-control col-md-10" type="text" required name="ReceiverPhoneNumber" value="@TempData["ReceiverPhoneNumber"]" />

                                                                    }
                                                                    else
                                                                    {
                                                                        <input class="form-control col-md-10" type="text" required name="ReceiverPhoneNumber" placeholder="Số điện thoại người nhận..." />

                                                                    }
                                                                    <span class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-phone"></span>
                                                                    </span>
                                                                </div>

                                                            </p>
                                                            <p>
                                                                <label class="control-label col-md-4 col-sm-4 col-xs-12">SĐT người giao: <span class="required">*</span></label>
                                                                <div class="input-group">
                                                                    @if (TempData["SenderPhoneNumber"] != null)
                                                                    {
                                                                        <input class="form-control col-md-10" type="text" required name="SenderPhoneNumber" value="@TempData["SenderPhoneNumber"]" />

                                                                    }
                                                                    else
                                                                    {
                                                                        <input class="form-control col-md-10" type="text" required name="SenderPhoneNumber" placeholder="Số điện thoại người giao..." />

                                                                    }
                                                                    <span class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-phone"></span>
                                                                    </span>
                                                                </div>

                                                            </p>
                                                            <p>
                                                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Số lượng: <span class="required">*</span></label>
                                                                <div class="input-group">
                                                                    @if (TempData["Quantity"] != null)
                                                                    {
                                                                        <input class="form-control col-md-10" type="text" required name="Quantity" value="@TempData["Quantity"]" />

                                                                    }
                                                                    else
                                                                    {
                                                                        <input class="form-control col-md-10" type="text" required name="Quantity" placeholder="Số lượng..." />

                                                                    }
                                                                    <span class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-comment"></span>
                                                                    </span>
                                                                </div>

                                                            </p>
                                                            <p>
                                                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Nội dung điều chuyển: <span class="required">*</span></label>
                                                                <div class="input-group">
                                                                    @if (TempData["Description"] != null)
                                                                    {
                                                                        <input class="form-control col-md-10" type="text" name="Description" value="@TempData["Description"]" required />

                                                                    }
                                                                    else
                                                                    {
                                                                        <input class="form-control col-md-10" required type="text" name="Description" placeholder="Nội dung điều chuyển..." />

                                                                    }
                                                                    <span class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-comment"></span>
                                                                    </span>
                                                                </div>


                                                            </p>
                                                            <p>
                                                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Ngày đưa vào sử dụng:</label>
                                                                @if (TempData["DateUsed"] != null)
                                                                {
                                                                    <div class="input-group date" id="dateUsed">
                                                                        <input type="text" class="form-control col-md-10" name="DateUsed" value="@TempData["DateUsed"] " />
                                                                        <span class="input-group-addon">
                                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                                        </span>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="input-group date" id="dateUsed">
                                                                        <input type="text" class="form-control col-md-10" name="DateUsed" placeholder="Nhập ngày sử dụng..." />
                                                                        <span class="input-group-addon">
                                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                                        </span>
                                                                    </div>
                                                                }


                                                            </p>
                                                            <p>
                                                                <label class="control-label col-md-4 col-sm-4 col-xs-12">
                                                                    Đơn vị sử dụng: <span class="required">*</span>
                                                                </label>
                                                                <div class="input-group">
                                                                    <div class="row-fluid">
                                                                        <select required id="NewDepartmentId" name="NewDepartmentId" class="selectpicker form-control" data-live-search="true" data-show-subtext="true" data-live-search-style="begins">
                                                                            <option data-subtext="" value="0">---Vui lòng chọn---</option>

                                                                            @foreach (var dep in Model.CheckBox.AssetsDepartmentDtosMoving)
                                                                            {
                                                                                <option data-subtext="@dep.Code" value="@dep.Id">@dep.Name</option>

                                                                            }
                                                                        </select>
                                                                    </div>
                                                                    <span class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-map-marker"></span>
                                                                    </span>
                                                                </div>

                                                                <div class="clearfix"></div>

                                                            </p>
                                                            <a onclick="checkMove()" style="text-decoration:underline;cursor:pointer">Tải lại</a><br/>
                                                            <p>Chi tiết tài sản điều chuyển: </p>
                                                            <div id="moveItemTable">
                                                                <div class="table-responsive" id="si" style="height:350px;overflow-y:auto">
                                                                </div>
                                                            </div>

                                                             

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                                            <button type="submit" class="btn btn-success"><i class="fa fa-paper-plane-o"></i> Điều chuyển</button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="modal fade deleteallbs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                                            <form asp-action="DeleteAsset" asp-controller="Asset" method="post" enctype="multipart/form-data" id="formDeleteAll">

                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">

                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                            <h4 class="modal-title" id="myModalLabel">Xác nhận xóa</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>
                                                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Mã IT: <span class="required">*</span></label>
                                                                <div class="input-group">
                                                                    <input class="form-control col-md-10" type="text" required name="table_records" id="deleteId"
                                                                           placeholder="Vui lòng chọn tài sản bằng cách click vào ô checkbox đầu bảng"  />
                                                                    <span class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-list-alt"></span>
                                                                    </span>
                                                                </div>

                                                            </p>
                                                            <a onclick="checkDelete()" style="text-decoration:underline;cursor:pointer">Tải lại</a><br />

                                                            <p>Chi tiết tài sản </p>
                                                            <div class="table-responsive" id="sid" style="height:350px;overflow-y:auto">
                                                            </div>



                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                                            <button type="submit" id="deleteAsset" class="btn btn-danger"><i class="fa fa-trash"></i> Xóa tất cả</button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="modal fade updateRepairbs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                                            <form asp-action="Create" asp-controller="AssetRepaired" method="post" enctype="multipart/form-data" id="formUpdateRepair">

                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">

                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                            <h4 class="modal-title" id="myModalLabel">Xác nhận cập nhật</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>
                                                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Mã IT: <span class="required">*</span></label>
                                                                <div class="input-group">
                                                                    <input class="form-control col-md-10" type="text" required name="table_records"
                                                                           placeholder="Vui lòng chọn tài sản bằng cách click vào ô checkbox đầu bảng" readonly />
                                                                    <span class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-list-alt"></span>
                                                                    </span>
                                                                </div>

                                                            </p>
                                                            <p>
                                                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Nơi sửa: <span class="required">*</span></label>
                                                                <div class="input-group">
                                                                    @if (TempData["LocationRepaired"] != null)
                                                                    {
                                                                        <input class="form-control col-md-10" type="text" name="LocationRepaired" value="@TempData["LocationRepaired"]" required />

                                                                    }
                                                                    else
                                                                    {
                                                                        <input class="form-control col-md-10" required type="text" name="LocationRepaired" placeholder="Nơi sửa chữa..." />

                                                                    }
                                                                    <span class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-map-marker"></span>
                                                                    </span>
                                                                </div>


                                                            </p>
                                                            <p>
                                                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Ngày sửa chữa:</label>
                                                                @if (TempData["DateRepaired"] != null)
                                                                {
                                                                    <div class="input-group date" id="dateUsed">
                                                                        <input type="text" class="form-control col-md-10" name="DateRepaired" value="@TempData["DateRepaired"] " />
                                                                        <span class="input-group-addon">
                                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                                        </span>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="input-group date" id="dateRepaired">
                                                                        <input type="text" class="form-control col-md-10" name="DateRepaired" placeholder="Nhập ngày sửa chữa..." />
                                                                        <span class="input-group-addon">
                                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                                        </span>
                                                                    </div>
                                                                }


                                                            </p>
                                                            <p>Chi tiết tài sản </p>
                                                            <div class="table-responsive" id="siur" style="height:350px;overflow-y:auto">
                                                            </div>



                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                                            <button type="submit" id="updateRepairAsset" class="btn btn-warning"><i class="fa fa-trash"></i> Cập nhật</button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="clearfix"></div>

                                        <div class="btn-group">
                                            <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-upload"></i> Nhập dữ liệu</button>
                                            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog modal-sm">
                                                    <div class="modal-content">
                                                        <form asp-action="Import" asp-controller="Import" method="post" enctype="multipart/form-data" id="formUpload">

                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">×</span>
                                                                </button>
                                                                <h4 class="modal-title" id="myModalLabel2">
                                                                    Nhập dữ liệu tài sản
                                                                </h4>
                                                            </div>

                                                            <div class="modal-body">
                                                                <h4>Upload file Excel</h4>
                                                                <div class="input-group">
                                                                    <input type="file" name="formFile">
                                                                </div>
                                                            </div>


                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                                                <button type="submit" class="btn btn-primary">Tải lên</button>
                                                            </div>
                                                        </form>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="btn-group">

                                            <form asp-action="Export" id="formExport">
                                                <button type="submit" class="btn btn-xs btn-primary" onclick="exportAll()"><i class="fa fa-download"></i> Xuất dữ liệu </button>
                                            </form>
                                       </div>

                                        <div class="btn-group" onclick='historyMoved()'>
                                            <button class="btn btn-xs btn-default" data-toggle="modal" data-target=".historymovedbs-example-modal-lg"><i class="fa fa-print"></i> In phiếu</button>
                                        </div>

                                        <div class="modal fade historymovedbs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">

                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                        <h4 class="modal-title" id="myModalLabel">Lịch sử điều chuyển</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        
                                                        <p>Chi tiết tài sản điều chuyển: </p>
                                                        <div class="table-responsive" id="resulthm" style="height:350px;overflow-y:auto">
                                                        </div>



                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                                    </div>

                                                </div>
                                            </div>

                                            
                                        </div>

                                    </th>

                                </tr>
                            </thead>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th colspan="13">
                                        <div class="input-group">
                                            <label style="font-size:14px"><i class="fa fa-history"></i> Lịch sử tìm kiếm: </label>
                                            <div class="historyCheckBoxContainer">
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <thead>

                                <tr>
                                    <th></th>
                                    <th>Id</th>
                                    <th>Tên</th>
                                    <th>Loại</th>
                                    <th>Model</th>
                                    <th>Số lượng</th>
                                    <th>Hoạt động</th>
                                    <th>Người dùng</th>
                                    <th style="width:6%">Đơn vị sử dụng</th>
                                    <th style="width:6%">Vị trí</th>
                                    <th>Trạng thái</th>
                                    <th>Khu vực</th>
                                    <th>Mô hình hoạt động</th>
                                    <th class="buttonheader">#</th>
                                </tr>
                            </thead>
                            <tbody class="bodyContainer">
                                @{
                                    var a = 0;
                                }
                                @if (Model.Items != null && Model.Items.Count() > 0)
                                {
                                        
                                        @foreach (var item in Model.Items)
                                        {
                                        a += item.Quantity; 
                                        string urlDetail = $"/chi-tiet-tai-san/{item.Id}";

                                            string urlEdit = $"/cap-nhat-tai-san/{item.Id}";
                                            string urlDelete = $"/xoa-tai-san/{item.Id}";
                                        <tr class="rowContainer" id="rowContainer-@item.Id">
                                            <td class="a-center">
                                                <input type="checkbox" class="checkBoxTable" name="table_records" value="@item.Id" data-mahh="@item.Id" data-tencb="@item.Id">
                                            </td>
                                            <td >@item.Id</td>
                                            <td style="cursor:pointer"><a class="nameasset" href="@urlDetail">@item.AssetName</a></td>
                                            <td>@item.AssetsCategoryDto.Name</td>
                                            <td>
                                                    @item.AssetSubCategory
                                            </td>
                                            <td>@item.Quantity</td>
                                            <td>
                                                @if (item.Active == true)
                                                {
                                                    <span class="label label-success">Active</span>
                                                }
                                                else
                                                {
                                                    <span class="label label-danger">Disable</span>

                                                }
                                            </td>
                                            <td>@item.Customer</td>
                                            <td>@item.AssetsDepartmentDto.Name</td>
                                            <td>@item.LocationDepartment</td>
                                            <td>@item.AssetsStatusDto.Name</td>
                                            <td>@item.Region</td>
                                            <td>@item.BusinessModel</td>
                                            <td class="columnButtonCon">
                                                <div class="buttonTable" id="buttonTable-@item.Id">
                                                    <a href="@urlDetail" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Chi tiết </a>
                                                </div>
                                            </td>
                                        </tr>
                                        }

                                    }
                                else
                                {
                                <tr><td valign="top" colspan="15" class="dataTables_empty">Không có dữ liệu</td></tr>

                                }
 

                            </tbody>

                        </table>

                    </div>

                @await Component.InvokeAsync("Pager" , Model)
                </div>

            </div>
        </div>
    </div>

</div>
@section Scripts{
    <script src="~/src/js/asset.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js" defer></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>

}


