@model WebLearning.Contract.Dtos.Quiz.QuizMonthlyDto;

@{
    ViewData["Title"] = "Xóa bài kiểm tra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/plugins/summernote/summernote-bs4.css" rel="stylesheet" />
    <link href="~/plugins/summernote/summernote.css" rel="stylesheet" />
}
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Bài kiểm tra - Xóa</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="QuizMonthly">Quay lại</a></li>
                    <li class="breadcrumb-item active">Bài kiểm tra - Xóa</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <form asp-controller="QuizMonthly" asp-action="Delete" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>

        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Thông tin bài kiểm tra</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="inputName">Code</label>
                            <input type="text" id="inputName" class="form-control" asp-for="Code" value="@Model.Code" readonly>
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="inputName">Tên Bài kiểm tra</label>
                            <input type="text" id="inputName" class="form-control" asp-for="Name" value="@Model.Name" readonly>
                        </div>
                        <div class="form-group">
                            <label for="inputStatus">Trạng thái</label>
                            @if (Model.Active == true)
                            {
                                <input type="text" id="inputName" class="form-control" asp-for="TimeToDo" value="Kích hoạt" readonly>

                            }
                            else
                            {
                                <input type="text" id="inputName" class="form-control" asp-for="TimeToDo" value="Khóa" readonly>

                            }
                        </div>
                        <div class="form-group">
                            <label for="inputName">Thời gian làm bài (phút)</label>
                            <input type="text" id="inputName" class="form-control" asp-for="TimeToDo" value="@Model.TimeToDo" readonly>
                        </div>
                        <div class="form-group">
                            <label for="inputName">Điểm tối thiểu</label>
                            <input type="text" id="inputName" class="form-control" asp-for="ScorePass" value="@Model.ScorePass" readonly>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-6">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Mục tiêu </h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="inputEstimatedBudget">Mô tả</label>
                            <textarea class="summernote" asp-for="Description" value="@Model.Description"></textarea>

                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="/bai-kiem-tra-dinh-ki.html" class="btn btn-secondary">Cancel</a>
                <input type="submit" value="Xóa" class="btn btn-danger float-right">
            </div>
        </div>
    </form>

</section>



@section Scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <link href="~/plugins/summernote/summernote-bs4.css" rel="stylesheet" />

    <script>
        jQuery(document).ready(function () {
            $('.summernote').summernote({
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
                styleTags: ['p', 'h1', 'h2', 'h3', 'h4', 'h5'],
                height: 200,
                minHeight: null,
                maxHeight: null,
                focus: true
            });
        });
    </script>
}