@model UpdateAllConcerningQuestionMonthlyDto

@{
    ViewData["Title"] = "Cập nhật câu hỏi kiểm tra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/plugins/summernote/summernote-bs4.css" rel="stylesheet" />
    <link href="~/plugins/summernote/summernote.css" rel="stylesheet" />
}
@using Microsoft.Extensions.Configuration
@using WebLearning.Contract.Dtos.Question.QuestionMonthlyAdminView;

@inject IConfiguration Configuration
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var answer = HttpContextAccessor.HttpContext.Session.GetString("QuestionMonthlyId");
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Câu hỏi kiểm tra - Cập nhật</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/chi-tiet-bai-kiem-tra-dinh-ki/@TempData["QuizMonthlyId"]">Quay lại</a></li>
                    <li class="breadcrumb-item active">Câu hỏi kiểm tra - Cập nhật</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <form asp-controller="QuestionMonthly" asp-action="Edit" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Nội dung câu hỏi </h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col-12 justify-content-center">
                            <a href="/chi-tiet-bai-kiem-tra-dinh-ki/@TempData["QuizMonthlyId"]/cau-hoi-kiem-tra-dinh-ki.html" class="btn btn-danger float-right" style="margin:3px">Cancel</a>
                            <a href="/chi-tiet-bai-kiem-tra-dinh-ki/@TempData["QuizMonthlyId"]/chi-tiet-cau-hoi-kiem-tra-dinh-ki/@answer" class="btn btn-info float-right" style="margin:3px">Xem chi tiết</a>
                            <button type="button" onclick="Add()" class="btn btn-success float-right" style="margin:3px">Thêm lựa chọn</button>
                            <input type="submit" value="Cập nhật" class="btn btn-warning float-right" style="margin:3px">
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label for="inputName">Câu hỏi</label>
                            <textarea id="inputName" class="summernote" asp-for="@Model.UpdateQuestionMonthly.Name"></textarea>
                            <span asp-validation-for="@Model.UpdateQuestionMonthly.Name" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label for="inputStatus">Trạng thái</label>
                            <select id="inputStatus" class="form-control custom-select" asp-for="@Model.UpdateQuestionMonthly.Active">
                                <option selected disabled>Chọn danh mục</option>
                                <option value="false">Khóa</option>
                                <option value="true">Kích hoạt</option>
                            </select>

                        </div>

                        <div class="form-group">
                            <label for="inputName">Điểm </label>
                            <input type="text" id="inputName" class="form-control" asp-for="@Model.UpdateQuestionMonthly.Point" value="@Model.UpdateQuestionMonthly.Point">
                                                    <span asp-validation-for="@Model.UpdateQuestionMonthly.Point" class="text-danger"></span>

                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Lựa chọn </h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body" style="max-height:738px;overflow-y:scroll">
                        <tabel>
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <table id="myTable" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th style="width:55%">Lựa chọn</th>
                                                    <th style="width:15%;">Đáp án đúng</th>
                                                    <th style="width:30%">#</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int op = 0; op < Model.OptionAndCorrectMonthlyDto.OptionMonthlyDtos.Count; op++)
                                                {
                                                    <tr>
                                                        <td>
                                                            <input name="OptionMonthlyId" value="@Model.OptionAndCorrectMonthlyDto.OptionMonthlyDtos[op].Id" hidden />
                                                            <textarea id="inputName" name="OptionMonthlys" class="summernote" asp-for="@Model.OptionAndCorrectMonthlyDto.OptionMonthlyDtos[op].Name"></textarea>
                                                        </td>
                                                        <td style="text-align:center">
                                                            @if (Model.OptionAndCorrectMonthlyDto.CorrectAnswerMonthlyDtos.Any(x => x.OptionMonthlyId.Equals(Model.OptionAndCorrectMonthlyDto.OptionMonthlyDtos[op].Id) == true))
                                                            {
                                                                @for (int cr = 0; cr < Model.OptionAndCorrectMonthlyDto.CorrectAnswerMonthlyDtos.Count; cr++)
                                                                {
                                                                    if (Model.OptionAndCorrectMonthlyDto.OptionMonthlyDtos[op].Id.Equals(Model.OptionAndCorrectMonthlyDto.CorrectAnswerMonthlyDtos[cr].OptionMonthlyId))
                                                                    {
                                                                        <input name="CorrectAnswerId" value="@Model.OptionAndCorrectMonthlyDto.CorrectAnswerMonthlyDtos[cr].Id" hidden />
                                                                        <select class="form-control custom-select" name="CorrectAnswers">
                                                                            <option value="true">Đúng</option>
                                                                            <option value="false">Sai</option>
                                                                        </select>
                                                                    }

                                                                }
                                                            }
                                                            else
                                                            {
                                                                <input name="CorrectAnswerId" value="@Guid.Empty" hidden />
                                                                <select class="form-control custom-select" name="CorrectAnswers">
                                                                    <option value="false">Sai</option>
                                                                    <option value="true">Đúng</option>
                                                                </select>
                                                            }

                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                            </tbody>
                        </tabel>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        @*        <div class="row">
        <div class="col-12">
        <a href="/cau-hoi-kiem-tra-theo-bai-hoc.html" class="btn btn-secondary">Cancel</a>
        <input type="submit" value="Cập nhật" class="btn btn-warning float-right">
        </div>
        </div>*@
    </form>

</section>



@section Scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <link href="~/plugins/summernote/summernote-bs4.css" rel="stylesheet" />
    <script>
        function Add() {
            $('#myTable > tbody').append(
                '<tr><td><textarea name="NewOptionMonthlys" class="summernote" required="required"></textarea><span class="field-validation-valid text-danger" data-valmsg-for="OptionMonthlys" data-valmsg-replace="true"></span></td>' +
                '<td><select class="form-control custom-select" name="NewCorrectAnswers"><option value="false">Sai</option><option value="true">Đúng</option></select><span class="field-validation-valid text-danger" data-valmsg-for="CorrectAnswers" data-valmsg-replace="true"></span></td>' +
                '<td><input type="button" onclick="Delete(this)" value="Xóa" class="btn btn-danger" /></td ></tr > '
            );
            jQuery(document).ready(function () {
                $('.summernote').summernote({
                    fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
                    styleTags: ['p', 'h1', 'h2', 'h3', 'h4', 'h5'],
                    height: 80,
                    minHeight: null,
                    maxHeight: null,
                    focus: true
                });
            });
        };
        function Delete(d) {
            $(d).closest("tr").remove();
        };

    </script>
    <script>
        jQuery(document).ready(function () {
            $('.summernote').summernote({
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
                styleTags: ['p', 'h1', 'h2', 'h3', 'h4', 'h5'],
                height: 80,
                minHeight: null,
                maxHeight: null,
                focus: true
            });
        });
    </script>
}

