@using WebLearning.Contract.Dtos.Assets.Department;
@model UpdateAssetsDepartmentDto

<div class="row">
    <h4>@Model.Name / <a href="/bo-phan.html">Quay lại</a></h4>

    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-pencil"></i> Cập nhật <small>bộ phận</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <form asp-action="Edit" class="form-horizontal">                
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Tên bộ phận:</label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <input class="form-control" name="Name" id="Name" type="text" onfocus="this.placeholder = ''" asp-for="@Model.Name">

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Vị trí:</label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <select class="selectpicker" data-live-search="true" data-show-subtext="true" name="ParentCode" id="ParentCode" asp-for="@Model.ParentCode" data-live-search-style="begins" asp-items="ViewBag.ParentCode">
                        </select>
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Cấp bậc:</label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <input class="form-control" name="Level" id="Level" type="text" value="@Model.Level" asp-for="@Model.Level" required readonly="readonly">

                    </div>
                </div>

                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-warning"><i class="fa fa-pencil"></i> Cập nhật</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>
@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
}